

h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
}

h2 {
    color: black;
    font-family: verdana;
    font-size: 200%;
}

h3 {
    color: black;
    font-family: verdana;
    font-size: 130%;
}

h3.link {
    color: blue;
    font-family: verdana;
    font-size: 130%;
}

a.cover  {
    color: blue;
    font-family: courier;
    font-size: 160%;
}

a.normal  {
    color: blue;
    font-family: courier;
    font-size: 100%;
}

p.normal {
	color: black;
    font-size: 130%;
}

.centerTable { margin: 0px auto; }

.leftTableHeader { style='text-align:left;' width="50%" height="30" }

.leftTableCell { class='title' width="50%" height="30" }

