<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet" href="/static/styles.css"> 
<script src="/static/jquery-3.2.1.min.js"></script>

<script type="text/javascript">

	function show_answer() {
		$(answer_field).show();
		$(answer_button).hide();
	};

  function checkbox_value() {
    if($(revisit_check).is(":checked")) {
      url_next = "/quiz?name={{ name }}&revisit={{index}}"
    } else {
      url_next = "/quiz?name={{ name }}&revisit=-1"
    }

    document.getElementById("link_next").setAttribute("href", url_next);
  };

  function next_quiz() {
    checkbox_value();
    document.location.href=url_next;
  }

</script>

</head>

<body bgcolor="#cce8cf" onkeypress="javascript:next_quiz()">

<p align='right'>
<br>
<a class='normal' href="{{ url_for('get_words', name=name, card_reset=False, quiz_reset=False) }}"> Back to Words List </a>
</p>

<h2 align="center" >Spelling Quiz</h2>
    
<div id="divContent">

{% if index != -1 %}

  <br><br>
  {% if count != 0 %}
  	<h3 align="center" > {{ count }} </h3>
    <br>
    <h3 align="center" > {{ words_list[index].quiz }} </h3>
  {% endif %}

  <br>

  <div id="answer_field" style="display: none;">
    <h3 align="center" >  {{ words_list[index].english_name }} </h3>
    <br>
    <p class='normal' align="center"> Revisit? <input id="revisit_check" type="checkbox" > </p>
  </div>


  {% if count != 0 %}
    <span id='answer_button'>
  	 <p style="text-align: center">	
  		  <a class='normal' href="javascript:show_answer();"> Show answer </a>
  	 </p>
  	</span>

  	<br>
  	<p style="text-align: center">
  	<a class='normal' id="link_next" href=" " onclick="checkbox_value()"> Next -> </a>
  	</p>
  {% endif %}

{% else %}
    <br><br><br><br><br>
    <h3 align="center" > End of Quiz </h3>
{% endif %}

</div>

</body>